<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{-- bootstrap --}}
    <link rel="stylesheet" href="bootstrap-5.2.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/styleBasic">
    <title>Estefania_Cardenas</title>
</head>

<body>

    {{-- Header --}}
    @include('partials/header')


    {{-- Content --}}
    <main>
        <section class="home section">
            <div class="home__container container">
                <div class="home_data">
                    <h1 class="home__title">
                        New way<br>of living.
                    </h1>
                    <p class="home_descrption">
                        Change the way you live life, <br> closer to nature.
                    </p>

                    <div class="home__images">
                        <div class="home__orbe"></div>
                        <div class="home__img">
                            <img src="img/home.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="popular section">
            <div class="container">
                <div class="popular__container">

                    <article class="popular__card">
                        <img src="img/popular1.jpg" class="popular__img">
                        <div class="popular__data">
                            <h2 class="popular__price">
                                <span>$</span>20.000
                            </h2>
                            <h3 class="popular__title">
                                The shelters are built in one piece
                            </h3>
                            <p class="popular__description">
                                Ark-Shelters are prefabricated,
                                fully finished, modular units.
                            </p>
                        </div>
                    </article>

                    <article class="popular__card">
                        <img src="img/popular2.jpg" class="popular__img">
                        <div class="popular__data">
                            <h2 class="popular__price">
                                <span>$</span>5.000
                            </h2>
                            <h3 class="popular__title">
                                Ark-Shelter as an office
                            </h3>
                            <p class="popular__description">
                                Ark-Shelters are prefabricated,
                                fully finished, modular units.
                            </p>
                        </div>
                    </article>

                    <article class="popular__card">
                        <img src="img/popular3.jpg" class="popular__img">
                        <div class="popular__data">
                            <h2 class="popular__price">
                                <span>$</span>25.000
                            </h2>
                            <h3 class="popular__title">
                                Ark-Shelter to live in closer to nature
                            </h3>
                            <p class="popular__description">
                                Ark-Shelters are prefabricated,
                                fully finished, modular units.
                            </p>
                        </div>
                    </article>

                    <article class="popular__card">
                        <img src="img/popular4.jpg" class="popular__img">
                        <div class="popular__data">
                            <h2 class="popular__price">
                                <span>$</span>50.000
                            </h2>
                            <h3 class="popular__title">
                                Ark-Shelter to relax in at home
                            </h3>
                            <p class="popular__description">
                                Ark-Shelters are prefabricated,
                                fully finished, modular units.
                            </p>
                        </div>
                    </article>

                        <article class="popular__card">
                        <img src="img/popular5.jpg" class="popular__img">
                        <div class="popular__data">
                            <h2 class="popular__price">
                                <span>$</span>50.000
                            </h2>
                            <h3 class="popular__title">
                                Ark-Shelter to relax in at home
                            </h3>
                            <p class="popular__description">
                                Ark-Shelters are prefabricated,
                                fully finished, modular units.
                            </p>
                        </div>
                    </article>


                </div>
            </div>
        </section>
    </main>



    {{-- Footer --}}
    @include('partials/footer')


    {{-- bootstrap --}}
    <script src="bootstrap-5.2.1-dist/js/bootstrap.bundle.js"></script>

</body>

</html>