<link rel="stylesheet" href="CSS/styleBasic.css">

<footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">ARK - SHELTER</h1>
                    <span class="footer__subtitle">Estudio de Diseño</span>
                </div>

            </div>
            <p class="footer__copy">&#169 All right Reserved</p>
        </div>
    </footer>