<link rel="stylesheet" href="../css/app.css">

<footer class="footer">
    <div class="card">
        
        <div class="card-body">
            Proyecto GitHub - Nuevas Tecnologías de Programación
        </div>
    </div>
</footer>